.mydiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.button{
    height: 30px;
    width: 220px;
    border-radius: 20px;
    color: white;
    background-color: teal;
    border: none;
    outline: none;
}