@import url('https://fonts.googleapis.com/css?family=Play&display=swap');


body{
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f4f4f4;
    overflow-y: hidden;
    max-height: 600px;

}

.container{
    width: 400px;
    max-height: 600px;
    overflow: hidden;
}

.header{
    height:50px;
    display:flex;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    padding:0 16px;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.menu{
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu div{
    height: 4px;
    width: 30px;
    background-color: teal;
    margin:1px;
    border-radius: 2px;
}



.header-text{
    color:#555;
    font-family: 'Play', sans-serif;
}



.news-item-container{
    margin-top:55px;
    align-items: center;
    width: 400px;
    overflow-x: hidden;
    max-height: 550px;
    overflow-y: scroll;
}

.news-item-container::-webkit-scrollbar {
    width: 8px;
}

.news-item-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.news-item-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.news-item{
    width: 380px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid gainsboro;
    margin:8px;
    flex-shrink: 0;

}

.news-img{
    height: 200px;
    width: 400px;
    object-fit: cover;
}

.news-details{
    padding: 8px;
    height: 100%;
}


.title{
     margin: 0;
    padding: 0;
}
.desc{
    color:gray;
    font-size: 12px;
}

.read-more{
    height: 34px;
    width: calc(100%);
    background-color: orangered;
    color:white;
    border: none;
    outline: none;
}


.nav-slider{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(30,30,30,0.70);
    transition: linear ease-in-out 2s;
}

.main_item{
    height: 100%;
    width: 60%;
    background-color: white;
}


.test{
    width: 1000px;
    height: 190px;
    overflow-x:scroll;
    white-space: nowrap;
    overflow-y: hidden;
    margin: 0 auto;
    background-color: red;

}

.test-inner{
    width: 300px;
    height: 150px;
    margin:8px;
    display: inline;
    background-color: teal;
}
.items {
    width: 400px;
    height: 100px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.item {
    width: 100px;
    flex-shrink: 0;
    height: 100px;
}


.loader{
    margin: auto;
    display: flex;
    justify-content: center;
}

